.DS_Store
node_modules
build
lib
*.log
.idea
.metadata
*.iml
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
errorShots
development-workplace-extension/*/src-gen
development-workplace-extension/*/gen-webpack.config.js
development-workplace-extension/*/.theia
development-workplace-extension/*/.vscode
development-workplace-extension/*/.test
.browser_modules
**/docs/api
package-backup.json
.history
.Trash-*
packages/plugin/typedoc
plugins
gh-pages
.vscode/ipch
dev-packages/electron/compile_commands.json
*.tsbuildinfo
.eslintcache
